* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, #EFC2D7, #4e4ce2);
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    padding: 64px;
}

h1 {
    font-size: 96px;
    margin: 96px;
    text-align: center;
}

.gallery {
    background: linear-gradient(
        60deg,
        #FFEB70,
        #f02262
    );
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 64px;
}

.thumbnail {
    border: solid 3px rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 0 48px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin: 32px;
    max-height: 200px;
    max-width: 300px;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.3s;
}

.thumbnail:hover {
    transform: scale(1.2);
}

.thumbnail img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.thumbnail img:focus,
.thumbnail img:focus {
    border: solid 5px rgb(78, 76, 226);
}

